daphne==1.4.2
gevent==1.0
gunicorn==19.9.0
M2Crypto==0.26.0
numpy==1.13.3
Pillow==5.2.0
Twisted[tls,http2]==18.4.0
lxml==4.2.1
cryptography==2.3
asgiref==2.0.0
cffi==1.11.2
autobahn==17.9.1
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
idna==2.7
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==18.0.0
service-identity==17.0.0
six==1.10.0
txaio==2.10.0
typing==3.6.4
zope.interface==4.5.0
